<div class="matches-list" ng-controller="currentMatchesController" ng-init="refresh()">
  <center>
    <h2>Current Matches</h2>
    <input class="button" type="button" value="Refresh" ng-click="refresh()">
    <input class="button" type="button" value="New Match" ng-click="newMatch()">
    <ul>
      <li class="matches" ng-repeat="match in matches">
        <a ng-click="goToMatch(match._id)">{{match.opponent.username}}</a> Current Level: {{match.user.currentLevel}}, Status: {{matchReady(match.user.currentLevel, match.opponent.currentLevel)}}
      </li>
    </ul>
  </center>
</div>

